body {
	padding-bottom: 200px;
}
h1 {
	display:none;
}
h2 {
}
h3 {
	padding-top: 0.6em;
	font-size: 1.5em;
}
a {
	color: #ae4e8e;
	font-weight:bold;
}

a:hover {
	color: #b83b9a;
}
.color-container {
	width: 100%;
	display: block;
	padding-top: 40%;
	background-size: cover;
	background-image: url(img/header.jpg);
}
#hidelogo {
	display:none;
	visibility:hidden;
}
.color-wrapper {
	display: block;
	position: absolute;
	width: 100%;
	top: 0px;
}

#download-location {
	font-size: 25px;
}

#header-awesome {
	padding-top: 5%;
	width: 100%;
}

#dlicon {
	border-width: 0;
	width: 50px;
	height: 50px;
	margin-right: 8px;
	margin-top: -10px;
}
.dltitle {
	padding-bottom:12px;
}

@media only screen and (max-width: 3000px) { #header-awesome { padding-top: 25%; } }
@media only screen and (max-width: 2500px) { #header-awesome { padding-top: 18%; } }
@media only screen and (max-width: 2200px) { #header-awesome { padding-top: 13%; } }
@media only screen and (max-width: 1800px) { #header-awesome { padding-top: 8%; } }
@media only screen and (max-width: 1400px) { #header-awesome { padding-top: 4%; } }
@media only screen and (max-width: 800px) { #header-awesome { padding-top: 4%; } }

.page-footer {
	margin-top: 100px !important;
}
